<launch>

  <arg name="ns" default="" />

  <group if="$(eval len(arg('ns')) > 0)" ns="$(arg ns)" >
    <node name="atom_s3_button_publisher"
          pkg="riberry_startup" type="i2c_button_state_publisher"
          respawn="true"
          output="screen">
      <param name="/i2c_device" value="/dev/i2c-8" />
    </node>
    <node name="atom_s3_buttery_mode"
          pkg="riberry_startup" type="display_battery_mode.py"
          respawn="true"
          output="screen">
      <remap from="/battery_voltage_status" to="/$(arg ns)/battery_voltage_status" />
      <remap from="/uav/cog/odom" to="/$(arg ns)/uav/cog/odom" />
    </node>
  </group>
</launch>