<launch>
  <arg name="high_resolution" default="false" />
  <arg name="enable_color" default="true" />
  <arg name="enable_depth" default="true" />
  <arg name="color_fps" default="15" />
  <arg name="depth_fps" default="15" />
  <arg name="exposure" default="10000" />

  <!-- D405 -->
  <include file="$(find realsense2_camera)/launch/rs_camera.launch">
    <arg name="enable_color" value="$(arg enable_color)" />
    <arg name="enable_depth" value="$(arg enable_depth)" />
    <arg name="align_depth" value="$(arg enable_depth)" />
    <arg name="enable_infra" value="false" />
    <arg name="color_fps" value="$(arg color_fps)" />
    <arg name="depth_fps" value="$(arg depth_fps)" />
    <!-- High resolution -->
    <arg name="color_width" value="1280" if="$(arg high_resolution)" />
    <arg name="color_height" value="720" if="$(arg high_resolution)" />
    <arg name="depth_width" value="1280" if="$(arg high_resolution)" />
    <arg name="depth_height" value="720" if="$(arg high_resolution)" />
    <!-- Low resolution -->
    <arg name="color_width" value="424" unless="$(arg high_resolution)" />
    <arg name="color_height" value="240" unless="$(arg high_resolution)" />
    <arg name="depth_width" value="480" unless="$(arg high_resolution)" />
    <arg name="depth_height" value="270" unless="$(arg high_resolution)" />
  </include>

  <rosparam subst_value="true">
    /camera/stereo_module/exposure: $(arg exposure)
  </rosparam>

</launch>
