<launch>

  <arg name="contexts_json" />

  <include file="$(find riberry_startup)/launch/module_llm_speech_to_text.launch" />

  <node name="keyword_extraction"
	pkg="riberry_startup" type="keyword_extraction.py"
	respawn="true" output="screen">
    <rosparam subst_value="true">
      contexts_json: $(arg contexts_json)
    </rosparam>
  </node>

</launch>
