<launch>

  <arg name="namespace" default="" />
  <arg name="web_video_server_port" default="8080" />

  <group if="$(eval len(arg('namespace')) > 0)" ns="$(arg namespace)" >
    <node name="generate_html"
          pkg="riberry_startup" type="generate_html.py"
          args="$(find riberry_startup)/www/index.html.template $(find riberry_startup)/www/index.html --namespace $(arg namespace)"
          output="screen" />

    <include file="$(find roswww)/launch/roswww.launch" >
    </include>
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" >
    </include>

    <node pkg="web_video_server" type="web_video_server"
          name="web_video_server"
          output="screen"
          clear_params="true">
      <param name="port" value="$(arg web_video_server_port)" />
    </node>

    <node name="package_list_service"
          pkg="riberry_startup" type="package_list_service.py"
          output="screen" >
    </node>
  </group>
  <group unless="$(eval len(arg('namespace')) > 0)">
    <node name="generate_html"
          pkg="riberry_startup" type="generate_html.py"
          args="$(find riberry_startup)/www/index.html.template $(find riberry_startup)/www/index.html"
          output="screen" />

    <include file="$(find roswww)/launch/roswww.launch" >
    </include>
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" >
    </include>

    <node pkg="web_video_server" type="web_video_server"
          name="web_video_server"
          output="screen"
          clear_params="true">
      <param name="port" value="$(arg web_video_server_port)" />
    </node>

    <node name="package_list_service"
          pkg="riberry_startup" type="package_list_service.py"
          output="screen" >
    </node>
  </group>

</launch>
