# Based on Open3D's .clang-format file
# https://github.com/isl-org/Open3D/blob/main/.clang-format
BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 100
UseTab: Never
Standard: c++17
ContinuationIndentWidth: 8
AccessModifierOffset: -4
BinPackParameters: false
SortIncludes: true
IndentPPDirectives: BeforeHash
