[Unit]
Description=Run roscore
After=NetworkManager.service
Requires=NetworkManager.service

[Service]
EnvironmentFile=-/etc/opt/riberry/riberry.user
Environment="ROSCONSOLE_FORMAT='[${severity}] [${time}] [${node}:${logger}]: ${message}'"
ExecStart=/bin/bash -c '. $SETUP && export $(python $(rospack find riberry_startup)/scripts/get_roshost.py) && roscore'
SyslogIdentifier=%n
Restart=always
RestartSec=10s
Type=simple
User=rock

[Install]
WantedBy=multi-user.target
