[Unit]
Description=Display ip address and battery information on AtomS3
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/bin/bash -c '. /opt/ros/noetic/setup.bash && /usr/bin/python3 /usr/local/bin/display_information.py'
Restart=always
RestartSec=10
SyslogIdentifier=%n
User=rock

[Install]
WantedBy=multi-user.target
