[Unit]
Description=Display ip address and battery information on AtomS3
Wants=network-online.target
After=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /usr/local/bin/display_information.py
Restart=on-failure
RestartSec=10
SyslogIdentifier=%n
User=rock

[Install]
WantedBy=multi-user.target
