[Unit]
Description=Display ip address and battery information on AtomS3
Wants=network-online.target
After=network-online.target

[Service]
EnvironmentFile=-/etc/opt/riberry/riberry.user
Environment="LOG_LEVEL=DEBUG"
Type=simple
ExecStart=/usr/local/bin/run_display_information.sh
Restart=always
RestartSec=10
SyslogIdentifier=%n
User=%I

[Install]
WantedBy=multi-user.target
